.header-bar{
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(226, 151, 151);
    background-color: yellow;
}

.filter-product-table{
    width: 100%;
    position: relative;
}

.search-field{
    margin-top: 30px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

table{
    width: 100%;
    text-align: center;
}
td{
    border: 10px solid blue;
}
.imgDrink{
    width: 100%;
    display: block;
}
.addButton{
    width: 100%;
    height: 35px;
    background-color: green;
    color: white;

}
h6{
    text-align: center;
    font-size: 14px;
}

